<center><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="100" /></center>

**<center><h3>Recap: Python for Data Science Assignment Problem</h3></center>**

---
**<h4>Question 1:** Create a function that swap two numbers with their position.</h4>

---

- For example, you entered `a = 5` and `b = 6`.

- The value returned will be `a = 6` and `b = 5`.

<details>

**<summary>Hint:</summary>**

- There are two ways by which you can achieve this.

- Either you can take three variables or try out some maths operations.

</details>

In [9]:
def swap2nos(a=1, b=0.3):
    print('before swap:')
    print('a = ', a, 'and b = ',b)
    
    temp = a
    a = b
    b = temp
    print('---------------------')
    print('after swap:')
    print('a = {1} and b = {0}'.format(b,a))

In [10]:
swap2nos(a=5, b=6)

before swap:
a =  5 and b =  6
---------------------
after swap:
a = 6 and b = 5

In [15]:
my_salary = 5+3.4
print(my_salary)

8.4

In [12]:
print(5+3.4)

8.4

---
**<h4>Question 2:** Create a function that converts the datatype of a variable to a string type if it is not numeric.</h4>

---

- For example, you entered `num = 10` and its type is `int`.

- The value returned will be `num = 10` and its type will be `str`.

<details>

**<summary>Hint:</summary>**

- You must have learned about the typecasting in the python starter kit. Haven't you?

- You can either put chained conditions to identify the data type and then typecast it,

- Or directly convert the data type despite of its type.

</details>

In [ ]:
#data types: 
#int - 0,2,-3, 450, . . . 
#str - "name", "Depesh's Pen", "AJKEL2345I"
#bool - True False
#float - real number 3.1415
#complex - 5 + 3j (we dont need complex number in data science)

In [ ]:
def convertType(num=None):
  # Put your code here.

In [ ]:
convertType(num=10)

In [17]:
num = 10
type(num)

int

In [18]:
num_a = '10'
type(num_a)

str

In [19]:
num_b = str(num)
print('type of num is {}, where as type of num_b is {}'.format(type(num),type(num_b)))

type of num is <class 'int'>, where as type of num_b is <class 'str'>

In [ ]:
#create a new variable or save inside itself.

# discussion - depends on the use

In [22]:
str1 = 'deepesh'

num = int(str_1)
print(type(num))

ValueError: invalid literal for int() with base 10: 'deepesh'

In [25]:
str1 = '10'

num = int(str1)
print(type(num))

<class 'int'>

---
**<h4>Question 3:** Create a function that calculates area of the triangle from user input.</h4>

---

- For example, you entered `base = 10` and `height = 3`.

- The value returned will be `area = 15`.

<details>

**<summary>Hint:</summary>**

- The formula to estimate area of triangle is $\large \frac{1}2 * base * height$

</details>

In [28]:
variable = input('type a question/request here')

type a question/request hererequest

In [29]:
variable

'request'

In [36]:
def areaOfTriangle():
    base = float(input('Please input the base : '))
    height = float(input('Please input the height : '))
    area = 0.5*base*height
    return area

In [37]:
# Calling function to estimate area of triangle
areaOfTriangle()

Please input the base : 3.14
Please input the height : 5.28

8.2896

In [38]:
print(areaOfTriangle())

Please input the base : 3.14
Please input the height : 5.28
8.2896

---
**<h4>Question 4:** Create a function that displays largest number from the provided list.</h4>

---

- For example, there's a list as `[18, 12, 28, 16, 22, 29, 23, 26]`.

- The value returned will be `area = 29`.

<details>

**<summary>Hint:</summary>**

- You must have learned about the control flow in the python starter kit. Haven't you?

- There can be many ways to achieve this, but let's think in a simple logical way.

- You initialize a variable with any value present in the list. Let's say first value, list[0].

- Then iterate over each value present in the list and check if it's greater than the initialized value.

- If it's greater than the value you assign it back to the initialzed variable and return it.

</details>

In [49]:
#List - data structure, mutable, ordered
#list of out annual spend on healthcare
#[grandpa, grandma, son, daughter-in-law, grandson]
#[0,1,2,3,4]
#n element - index frm 0 to n-1


HClist = [54,26,10,8,3]

In [50]:
HClist[0]+5

59

In [51]:
HClist[0] += 5

In [52]:
HClist

[59, 26, 10, 8, 3]

In [54]:
#slicing
HClist[0:2] #[start inclusive:end non inclusive]

[59, 26]

In [55]:
HClist[-1]

3

In [ ]:
#[18, 12, 28, 16, 22, 29, 23, 26]
# flag = 18

# if 12>18 - change the flag to 12 else keep to 18 - flag kept to 18
# if 28>18 - change the flag to 28 else keep to 18 - flag changes to 28
# if 16>28  - ----------------- 16 ------------ 28
.
.
.
.

In [62]:
list_in = [18, 12, 28, 16, 22, 29, 23, 26]

flag = list_in[0]
for value in list_in:
    print(value, flag)
    if (value > flag):
        flag = value
print('Max value is', flag)

18 18
12 18
28 18
16 28
22 28
29 28
23 29
26 29
Max value is 29

In [63]:
list1 = [1,2,3,4,5,6,7,8,9]

max = list1[0]

for element in list1:
    print(element)
    if max < element:
        max = list1[element]  
        
print(max)

1
2
3
4
5
6
7
8
9

IndexError: list index out of range

In [57]:
def maxValue(list_in):
    flag = list_in[0]
    for value in list_in:
        if (value > flag):
            flag = value
    return flag
# comment if possible. explain the code.

In [60]:
variable1 = maxValue(list_in=[18, 12, 28, 16, 22, 29, 23, 26])

In [61]:
variable1+20

49

---
**<h4>Question 5:** Create a function that removes duplicate values from the provided list.</h4>

---

- For example, there's a list as `[10, 20, 30, 40, 50, 60, 70, 40, 80, 50, 40]`.

- The returned list will be `[70, 40, 10, 80, 50, 20, 60, 30]`.

<details>

**<summary>Hint:</summary>**

- You can typecast your list to a set type and then again typecast it to a list.

- You can also use control flow over the list with different python operators to achieve the objective.

</details>

In [1]:
my_list = [10, 20, 30, 40, 50, 60, 70, 40, 80, 50, 40]
my_set = set(my_list)

In [3]:
my_converted_list = list(my_set)
my_converted_list

[70, 40, 10, 80, 50, 20, 60, 30]

In [4]:
def removeDuplicates(list_in):
    my_converted_list = list(set(my_list))
    return my_converted_list

In [5]:
removeDuplicates(list_in=[10, 20, 30, 40, 50, 60, 70, 40, 80, 50, 40])

[70, 40, 10, 80, 50, 20, 60, 30]

In [6]:
# logic - english langeuage - pseudo code

# [10, 20, 30, 40,50,60,70,80 ]

list_in=[10, 20, 30, 40, 50, 60, 70, 40, 80, 50, 40]
unique = []
for element in list_in:
    if element not in unique:
        unique.append(element)
        
print(unique)

[10, 20, 30, 40, 50, 60, 70, 80]

In [9]:
# dict - key value pair
my_dict = {'Name': 'Deepesh', 'Occupation': 'Teacher', 'Age': 34, 'Fav pen': "Lamy's All star"}

my_dict

{'Name': 'Deepesh',
 'Occupation': 'Teacher',
 'Age': 34,
 'Fav pen': "Lamy's All star"}

In [ ]:
# set - {element1, element 2...} - unordered
# list - [] - ordered - mutable
# tuple - () -immutable

# my_tup = tuple(list_name)

#we actually use NONE of these structures in data science, not even list.

---
**<h4>Question 6:** Create a function that displays a sum of values present in a list.</h4>

---

- For example, there's a list as `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

- The returned sum will be `55`.

<details>

**<summary>Hint:</summary>**

- You must have learned about the control flow in the python starter kit. Haven't you?

- Initialize a variable with a zero value.

- Then iterate over the list along with the intialized value to get a sum. 

</details>

In [22]:
def sumList(list_in):
    my_sum = 0
    for spiderman in list_in:
        my_sum += spiderman
        print(my_sum)
    return my_sum

In [23]:
sumList(list_in=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

1
3
6
10
15
21
28
36
45
55

55

---
**<h4>Question 7:** Create a function that reverse a provided string.</h4>

---

- For example, you passed a string such as `INSAID`.

- The returned string will be `DIASNI`.

<details>

**<summary>Hint:</summary>**

- There are several ways to achieving the defined objective.

- Either you can iterate over the characters of the string or use the string striding (mostly used).

</details>

In [29]:
my_str = 'INSAID'
my_str[::-1]

'DIASNI'

In [ ]:
# ____
# D
# DI
# DIA
# DIAS
# DIASN
# DIASNI

#ctrl + /

In [35]:
def stringReverse(my_string):
    reverse = '' #starting with empty
    
    length = len(my_string)
    
    for i in range(0,length): #one element at a time # range -> [0,1,2,3,4,5] 
                                #but what we want is [5,4,3,2,1,0]
        reverse += my_string[length-i-1]
        print(reverse)
    return reverse

In [36]:
stringReverse('INSAID')

D
DI
DIA
DIAS
DIASN
DIASNI

'DIASNI'

In [ ]:
# extract PAN number from GST number
# GST no - 23ABEDS9987D1ZY

In [ ]:
# Display the reverse string
print('Reversed String: {}'.format(stringReverse()))

---
**<h4>Question 8:** Create a function that returns a combination of two tuples.</h4>

---

- For example, you passed two tuples such as `(0, 1, 2, 3)` and `('python', 'code')`.

- The returned tuple will be `(0, 1, 2, 3, 'python', 'code')`.

<details>

**<summary>Hint:</summary>**

- Why don't you try out the simple mathematical operation such as addition.

</details>

In [37]:
(0,1,2,3)+(3,4,5,6)

(0, 1, 2, 3, 3, 4, 5, 6)

In [38]:
def concatTuple(tup1=None, tup2=None):
    new_tup = tup1 + tup2
    return new_tup

In [39]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')

# Display the concatenation of tuples
print('Concatenated Tuple: {}'.format(concatTuple(tup1=tuple1, tup2=tuple2)))

Concatenated Tuple: (0, 1, 2, 3, 'python', 'code')

---
**<h4>Question 9:** Create a function that returns an indicator of whether a provided key already exists in a dictionary.</h4>

---

- For example, there's a dictionary such as `{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}`.

- You passed a value to the function such as `3`, then a returned value will be `True`.

- Let's say you passed a value to the function such as `8`, then a returned value will be `False`.

<details>

**<summary>Hint:</summary>**

- You must have learned about the control flow and operators in the python starter kit. Haven't you?

- You can get the desired result using simple IF-ELSE operation.

</details>

In [43]:
def isKeyPresent(dict_in=None, key=None):
    if key in dict_in:
        return True
    else:
        return False

In [44]:
dict_in = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# Display the indicator
print('Returned Indicator: {}'.format(isKeyPresent(dict_in=dict_in, key=4)))

Returned Indicator: True

In [49]:
# len(dict_in)
# dict_in[key]

6

In [ ]:
# for loop method to search a value

---
**<h4>Question 10:** Create a function that returns a combination of two python dictionary.</h4>

---

- For example, there's are two dictionaries such as `{'a': 100, 'b': 200}` and `{'x': 300, 'y': 200}`.

- The returned dictionary will be `{'a': 100, 'b': 200, 'x': 300, 'y': 200}`.

<details>

**<summary>Hint:</summary>**

- Initialize a variable with empty dictionary or using dict() method.

- Update the newly initialized dictionary with the first dictionary using .update() method.

- Then again update the newly initialized dictionary with the second dictionary using .update() method.

</details>

In [54]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d1.update(d2)
d1

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [55]:
def combineDict(dict1=None, dict2=None):
    temp_dict = dict1
    temp_dict.update(dict2)
    return temp_dict

In [56]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

# Display the final dictionary
print('Final Dictionary: {}'.format(combineDict(dict1=d1, dict2=d2)))

Final Dictionary: {'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
#class and object

# int - 2
# str -'d'

# admission form - [entries of a perspon]

---
**<h4>Question 11:** Create a function that returns a factorial of a number.</h4>

---

- For example, you passed `val = 5`.

- The returned value will be `120`.

- Underlying working is as shown: `1 * 2 * 3 * 4 * 5 = 120`.

<details>

**<summary>Hint:</summary>**

- Initialize factorial varialble with 1.

- If the number is negative display message that factorial of a negative number doesn't exist.

- Else if the number is zero return the initialized value.

- Else return the factorial value over the specified value in the function.

</details>

In [57]:
def factorial(num = 0):
    fact = 1
    for i in range(1,num+1):
        fact *= i 
    
    return fact

In [70]:
# calcualte square of fact

fact = factorial(5)

fact**2

14400

In [65]:
# Display the fictorial value
print('Factorial: {}'.format(factorial()))

Factorial: 1

In [67]:
fact = 1
num = 5
while num>0:
    fact *= num
    num-=1
print(fact)

120

In [ ]:
'abcdefghijklmnopqrstuvwxyz'
#a-1
#b-2
#c-3

#'DEEPESH'

In [73]:
def add(x,y):
    return x+y

def sbtract(x,y):
    return x-y

def multiply(x,y):
    return x*y

def divide(x,y):
     return x/y

print("Select an option")
print("1. Addtion")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

choice=input("Enter operation from 1-4: ")

num1=float(input( "Enter first number:  "))
num2=float(input( "Enter second number: "))

if choice == '1':
    print('Addition of {0} and {1} will be {2} : '.format(num1,num2,add(num1,num2)))
elif choice == '2':
    print('Subtraction of {0} and {1} will be {2} : '.format(num1,num2,subtract(num1,num2)))
elif choice == '3':
    print('Multiplication of {0} and {1} will be {2} : '.format(num1,num2,multiply(num1,num2)))
elif choice == '4':
    print('Multiplication of {0} and {1} will be {2} : '.format(num1,num2,divide(num1,num2)))
else:
    print("Invalid Choice")

Select an option
1. Addtion
2. Subtraction
3. Multiplication
4. Division
Enter operation from 1-4: 1
Enter first number:  1
Enter second number: 2
Addition of 1.0 and 2.0 will be 3.0 :